/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); */

@font-face {
  font-family: "Poppins";
  src: url("../Assets/Fonts/poppins-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../Assets/Fonts/poppins-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}

:root {
  --accent: #faa307;
  --black: #323d3d;
  --gray: #dddad2;
  --white: #f2f1e6;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xl: 3rem;
  --shadow: 0 var(--sm) var(--lg) 0 rgba(50, 61, 61, 0.25);
}

.logo {
  height: 6rem;
}

body {
  display: grid;
  place-content: center;

  background-color: var(--gray);
}

.wrapper {
  height: 75vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  gap: 0.5%;

  border-radius: var(--lg);
}

.logo-container {
  width: 29%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  background-color: var(--black);
  border-radius: var(--lg) 0 0 var(--lg);
  box-shadow: var(--shadow);

  & section {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
  }
}

.info-container {
  width: 70.5%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: var(--white);
  border-radius: 0 var(--lg) var(--lg) 0;
  box-shadow: var(--shadow);
}

.nav-section {
}

.input-section {
}

.btn-section {
}

.social-section {
}
