* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --accent: #faa307;
  --black: #323d3d;
  --gray: #dddad2;
  --white: #f2f1e6;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xl: 3rem;
  --shadow: 0 8px 16px 0 rgba(50, 61, 61, 0.3);
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/poppins-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/poppins-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}
