.info_container {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  background-color: var(--white);
  border-radius: 0 var(--lg) var(--lg) 0;
  box-shadow: var(--shadow);
  overflow: hidden;

  & div {
    display: flex;
    align-self: stretch;
  }
}
